*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#0d1117;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:15px 20px;
background:#111827;
position:sticky;
top:0;
}

.logo{
font-size:22px;
font-weight:bold;
color:#00e5ff;
}

nav a{
color:white;
text-decoration:none;
margin-left:15px;
font-weight:600;
}

nav a:hover{
color:#00e5ff;
}

.hero{
text-align:center;
padding:60px 20px;
}

.hero h1{
font-size:38px;
color:#00e5ff;
}

.hero p{
margin-top:15px;
font-size:18px;
color:#cfcfcf;
}

.btn{
display:inline-block;
margin-top:25px;
background:#00e5ff;
color:black;
padding:12px 25px;
border-radius:8px;
font-weight:bold;
text-decoration:none;
}

.plans{
padding:40px 20px;
text-align:center;
}

.plans h2{
font-size:30px;
margin-bottom:30px;
}

.card-box{
display:flex;
flex-wrap:wrap;
justify-content:center;
gap:25px;
}

.card{
width:260px;
background:#161b22;
border-radius:15px;
padding:12px;
box-shadow:0 0 15px rgba(0,229,255,.25);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
box-shadow:0 0 25px #00e5ff;
}

.card img{
width:100%;
height:180px;
object-fit:cover;
border-radius:10px;
}

.card h3{
margin-top:15px;
}

.card h4{
font-size:30px;
margin:10px 0;
color:#00ff88;
}

.card p{
color:#ddd;
margin-bottom:15px;
}

.buy{
display:inline-block;
background:#00e5ff;
color:black;
padding:12px 20px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

.buy:hover{
background:white;
}

#contact{
text-align:center;
padding:60px 20px;
}

.whatsapp{
display:inline-block;
margin-top:20px;
background:#25D366;
color:white;
padding:15px 25px;
text-decoration:none;
border-radius:8px;
font-weight:bold;
}

footer{
background:#111827;
padding:20px;
text-align:center;
margin-top:40px;
color:#aaa;
}

@media(max-width:768px){

header{
flex-direction:column;
}

nav{
margin-top:15px;
}

.hero h1{
font-size:28px;
}

.card{
width:100%;
}

}